* {
  color: #ddd;
  background: #222;
}

.App {
  padding: 0 10%;
}

.nav {
  font-family: "Space Mono", monospace;
  padding: 5px 0;
  width: 100%;
  border-bottom: 2px solid #ccc;
}

.logo {
  max-width: 100px;
}

.prepost,
.link {
  font-size: 1.3rem;
}

.prepost {
  font-weight: 700;
  margin: 0 10px;
}

.brackets {
  font-size: 1.8rem;
  color: #84d;
}

.link {
  font-weight: 400;
  padding: 0 5px;
  color: #66d;
  transition: font-size 0.25s;
}

.link:active {
  text-decoration: none;
}

.link:hover {
  font-size: 1.5rem;
}
